p({
  "class":"foam.nanos.medusa.ClusterConfig",
  "id":"mm1",
  "name":"mm1",
  "enabled":true,
  "realm":"nanopay",
  "region":"Toronto",
  "zone":0,
  "port":8080,
  "sessionId":"e6a6f1d4-94dd-82db-ecd8-f3f4ea9ef738",
  "type":0,
  "created":"2020-03-28T14:57:12.959Z",
  "createdBy":2
})

p({
  "class":"foam.nanos.medusa.ClusterConfig",
  "id":"mm2",
  "name":"mm2",
  "enabled":true,
  "realm":"nanopay",
  "region":"Toronto",
  "zone":0,
  "port":8085,
  "sessionId":"e6a6f1d4-94dd-82db-ecd8-f3f4ea9ef738",
  "type":0,
  "created":"2020-03-28T14:57:12.959Z",
  "createdBy":2
})

p({
  "class":"foam.nanos.medusa.ClusterConfig",
  "id":"mm3",
  "name":"mm3",
  "enabled":true,
  "realm":"nanopay",
  "region":"Toronto",
  "zone":0,
  "port":8090,
  "sessionId":"e6a6f1d4-94dd-82db-ecd8-f3f4ea9ef738",
  "type":0,
  "created":"2020-03-28T14:57:12.959Z",
  "createdBy":2
})

p({
  "class":"foam.nanos.medusa.ClusterConfig",
  "id":"mn1",
  "name":"mn1",
  "enabled":true,
  "realm":"nanopay",
  "region":"Toronto",
  "zone":0,
  "port":8100,
  "sessionId":"e6a6f1d4-94dd-82db-ecd8-f3f4ea9ef738",
  "type":1,
  "created":"2020-03-28T14:57:12.959Z",
  "createdBy":2
})

p({
  "class":"foam.nanos.medusa.ClusterConfig",
  "id":"mn2",
  "name":"mn2",
  "enabled":true,
  "realm":"nanopay",
  "region":"Toronto",
  "zone":0,
  "port":8110,
  "sessionId":"e6a6f1d4-94dd-82db-ecd8-f3f4ea9ef738",
  "type":1,
  "created":"2020-03-28T14:57:12.959Z",
  "createdBy":2
})

p({
  "class":"foam.nanos.medusa.ClusterConfig",
  "id":"mn3",
  "name":"mn3",
  "enabled":true,
  "realm":"nanopay",
  "region":"Toronto",
  "zone":0,
  "port":8120,
  "sessionId":"e6a6f1d4-94dd-82db-ecd8-f3f4ea9ef738",
  "type":1,
  "created":"2020-03-28T14:57:12.959Z",
  "createdBy":2
})
