<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular 1.5 + FOAM Todo List</title>

  <!-- include source files here... -->
  <script src="../../src/foam.js"></script>

  <!-- And lib files here -->
  <script src="../../src/lib/dao.js"></script>
  <script src="../../src/lib/mlang.js"></script>

  <script src="../../src/lib/QueryParser.js"></script>
</head>

<body ng-app="testApp" ng-controller="mainCtrl">

  <input type="text" size=40 placeholder="Search" ng-model="query.s" />
  <div class="new-todo">
    <input type="text" size=40 placeholder="New Item" ng-model="newTodo" />
    <button ng-disabled="newTodo.length == 0" ng-click="createTodo()">Create</button>
  </div>

  <div class="todo-list">
    <div foam-repeat="dao" foam-as="todo">
      <input type="checkbox" ng-model="todo.completed" />
      <span>{{todo.title}}</span>
    </div>
  </div>

  <!-- And Angular core files here -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>

  <!-- The FOAM+Angular library here -->
  <script src="../angular-foam.js"></script>

  <!-- And our application here -->
  <script src="app.js"></script>
</body>
</html>
