node_modules
npm-debug.log
server.bat
*~
.DS_Store
coverage
doc/gen/*
**/bower_components/*
test/third_party/google-cloud-sdk*
/build
foam-bin.js
target/
.idea/
.gradle/
local.properties
*.iml
tools/cp.txt
/nanos
build/*
.*-build
.*-gensrcs
nano.log*
/cronjobs
