
body {
    margin: 0;
    word-wrap: break-word;
}

#pending {
    color: grey;
}

#controls {
    display: flex;
    border: 1px inset;
}

#input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    border: 0;
    margin: 0;
}

#send {
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px outset;
}

* {
    box-sizing: border-box;
}

.message-row {
}

.message-from {
    display: inline;
}

.message-message {
    display: inline;
}

.message-timestamp {
    display: inline;
}

#connected-status {
    position: fixed;
    top: 32px;
    right: 32px;
    font: sans-serif;
    display: none;
}

#connected-status .connected {
    color: green;
}

#connected-status .disconnected {
    color: red;
}