<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FOAM + Angular + Firebase Issue Tracker Demo</title>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />

  <script src="https://apis.google.com/js/platform.js"></script>

  <!-- include source files here... -->
  <script src="../../src/core/foam.js"></script>

  <!-- And lib files here -->
  <script src="../../src/lib/dao.js"></script>
  <script src="../../src/lib/mlang.js"></script>
  <script src="../../src/lib/firebase.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Roboto'
      rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
</head>

<body ng-app="trackerApp" ng-controller="mainCtrl" ng-cloak layout="column">

  <md-toolbar layout="row" layout-align="start center">
    <md-button class="md-icon-button"
               hide-gt-md
               ng-click="toggleList()"
               ng-hide="! bigScreen && selection">
      <md-icon>menu</md-icon>
    </md-button>

    <md-button class="md-icon-button"
               ng-click="selection = null"
               ng-show="! bigScreen && selection">
      <md-icon>arrow_back</md-icon>
    </md-button>

    <div class="md-headline" layout-margin hide-xs>
      FOAM + Angular + Firebase Issue Tracker
    </div>
    <div class="md-headline" layout-margin hide-gt-xs>
      F+A+F Issue Tracker
    </div>
  </md-toolbar>

  <!-- Main body containing div -->
  <div flex layout="row">
    <!-- Left navigation drawer -->
    <md-sidenav md-is-locked-open="$mdMedia('gt-md')"
                md-component-id="left"
                ng-click="toggleList()"
                class="md-whiteframe-z2">
      <md-list>
        <md-list-item ng-repeat="f in filters.list"
                      ng-class="{ 'filter-selected': f.key == filters.current }"
                      ng-click="filters.current = f.key">
          {{ f.label }}
        </md-list-item>
      </md-list>
    </md-sidenav>

    <!-- Left navigation drawer -->
    <md-content flex-xs="100" flex-gt-xs="33" layout="column" id="list"
                ng-show="bigScreen || ! selection">
      <foam-dao-controller dao="issueDAO"
                           selection="selection"
                           controller-mode="controllerMode"
                           header="false"
                           fab="true">
        <tracker-issue-citation issue="object" />
      </foam-dao-controller>
    </md-content>

    <md-content flex-xs="100" flex-gt-xs="66" layout="column" id="details"
                ng-show="bigScreen || selection">
      <div class="md-title" ng-show="selection" style="margin: 16px">
        {{ controllerMode == 'edit' ? 'Edit' : 'Create' }} Issue
      </div>

      <div foam-details="selection" ng-show="selection" flex="none"
          layout="column" layout-margin>
      </div>

      <div ng-show="selection && controllerMode == 'create'"
           layout="row" layout-align="end center">
        <md-button ng-click="saveCreate()">create</md-button>
      </div>
    </md-content>
  </div>

  <!-- Angular core scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-aria.js"></script>
  <!-- Angular Material Design components -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.js"></script>

  <!-- The FOAM+Angular library here -->
  <script src="../angular-foam.js"></script>

  <!-- Our application here -->
  <script src="src/models.js"></script>
  <script src="src/app.js"></script>
</body>
</html>
