.filter-selected {
  background-color: #e0e0e0;
}

#list {
  border-right: 1px solid #e0e0e0;
}

.foam-dao-controller-list-item:focus {
  outline: none !important;
  background-color: #e0e0e0;
}

.strike {
  text-decoration: line-through;
}

.user-avatar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

